{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="title">Bienvenue sur Unedic Classe</h1>
			<hr class="title3">
			<h2 class="title2">Gestion de classe</h2>
		</div>
	</div>
</div>
{% endblock %}
