{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{ student.firstname }} {{ student.lastname }}</h3></div>

                <div class="panel-body">
                    <div class="row">
                        <p class="lead">Détail de l'élève</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
